In [1]:
from IPython.display import display
import gc
import joblib as jb
from tqdm.auto import tqdm, trange
import os

# data manipulation
import numpy as np
import pandas as pd
import sqlite3 as sq
from sklearn import preprocessing, pipeline

# data visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
con = sq.connect("switrs.sqlite")
cur = con.cursor()

In [3]:
tables = [name[0] for name in cur.execute("SELECT name FROM sqlite_master")]
tables

['case_ids', 'collisions', 'victims', 'parties']

In [5]:
pd.set_option('display.max_columns', None)

In [16]:
collision_head_10 = pd.read_sql("""SELECT *
            FROM collisions WHERE collision_date BETWEEN '2020-01-01'
            AND '2020-12-31';""", con)

In [18]:
collision_head_10.shape

(366417, 75)

In [ ]:
SELECT CASE m 
       WHEN '01' THEN 'January' 
       WHEN '02' THEN 'Febuary' 
       WHEN '03' THEN 'March' 
       WHEN '04' THEN 'April' 
       WHEN '05' THEN 'May' 
       WHEN '06' THEN 'June' 
       WHEN '07' THEN 'July' 
       WHEN '08' THEN 'August' 
       WHEN '09' THEN 'September' 
       WHEN '10' THEN 'October' 
       WHEN '11' THEN 'November' 
       WHEN '12' THEN 'December' 
       END || ' ' || y AS dates
FROM 
(
  SELECT DISTINCT 
         strftime('%m', date) m,
         strftime('%Y', date) y
    FROM expenses
)
ORDER BY y, m

In [22]:
distinct_years = pd.read_sql("""SELECT DISTINCT 
         strftime('%Y', collision_date) from collisions ORDER BY collision_date;""", con)

In [23]:
distinct_years

   strftime('%Y', collision_date)
0                            2001
1                            2002
2                            2003
3                            2004
4                            2005
5                            2006
6                            2007
7                            2008
8                            2009
9                            2010
10                           2011
11                           2012
12                           2013
13                           2014
14                           2015
15                           2016
16                           2017
17                           2018
18                           2019
19                           2020
20                           2021

In [15]:
collision_head_10.collision_date

0    2020-03-14
1    2020-07-26
2    2020-10-05
3    2020-08-06
4    2020-10-05
5    2020-08-06
6    2020-10-05
7    2020-08-07
8    2020-10-02
9    2020-08-13
Name: collision_date, dtype: object

In [11]:
collision_head_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 75 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   case_id                          10 non-null     object
 1   jurisdiction                     10 non-null     int64
 2   officer_id                       10 non-null     object
 3   reporting_district               3 non-null      object
 4   chp_shift                        10 non-null     object
 5   population                       10 non-null     object
 6   county_city_location             10 non-null     object
 7   county_location                  10 non-null     object
 8   special_condition                10 non-null     object
 9   beat_type                        10 non-null     object
 10  chp_beat_type                    10 non-null     object
 11  city_division_lapd               0 non-null      object
 12  chp_beat_class                   10 non-null     object
 13  beat_number                      10 non-null     object
 14  primary_road                     10 non-null     object
 15  secondary_road                   10 non-null     object
 16  distance                         10 non-null     float64
 17  direction                        7 non-null      object
 18  intersection                     9 non-null      float64
 19  weather_1                        10 non-null     object
 20  weather_2                        0 non-null      object
 21  state_highway_indicator          10 non-null     int64
 22  caltrans_county                  7 non-null      object
 23  caltrans_district                7 non-null      float64
 24  state_route                      7 non-null      float64
 25  route_suffix                     0 non-null      object
 26  postmile_prefix                  1 non-null      object
 27  postmile                         7 non-null      float64
 28  location_type                    7 non-null      object
 29  ramp_intersection                0 non-null      object
 30  side_of_highway                  7 non-null      object
 31  tow_away                         9 non-null      float64
 32  collision_severity               10 non-null     object
 33  killed_victims                   10 non-null     int64
 34  injured_victims                  10 non-null     int64
 35  party_count                      10 non-null     int64
 36  primary_collision_factor         10 non-null     object
 37  pcf_violation_code               0 non-null      object
 38  pcf_violation_category           10 non-null     object
 39  pcf_violation                    9 non-null      float64
 40  pcf_violation_subsection         0 non-null      object
 41  hit_and_run                      10 non-null     object
 42  type_of_collision                10 non-null     object
 43  motor_vehicle_involved_with      10 non-null     object
 44  pedestrian_action                10 non-null     object
 45  road_surface                     10 non-null     object
 46  road_condition_1                 10 non-null     object
 47  road_condition_2                 0 non-null      object
 48  lighting                         10 non-null     object
 49  control_device                   10 non-null     object
 50  chp_road_type                    10 non-null     object
 51  pedestrian_collision             10 non-null     int64
 52  bicycle_collision                10 non-null     int64
 53  motorcycle_collision             10 non-null     int64
 54  truck_collision                  10 non-null     int64
 55  not_private_property             10 non-null     int64
 56  alcohol_involved                 0 non-null      object
 57  statewide_vehicle_type_at_fault  9 non-null      object
 58  chp_vehicle_type_at_fault        9 non-null      object
 59  severe_injury_count              10 non-null     int64
 60  other_visible_injury_count       10 non-null     int64
 61  complaint_of_pain_injury_count   10 non-null     int64
 62  pedestrian_killed_count          10 non-null     int64
 63  pedestrian_injured_count         10 non-null     int64
 64  bicyclist_killed_count           10 non-null     int64
 65  bicyclist_injured_count          10 non-null     int64
 66  motorcyclist_killed_count        10 non-null     int64
 67  motorcyclist_injured_count       10 non-null     int64
 68  primary_ramp                     0 non-null      object
 69  secondary_ramp                   0 non-null      object
 70  latitude                         6 non-null      float64
 71  longitude                        6 non-null      float64
 72  collision_date                   10 non-null     object
 73  collision_time                   10 non-null     object
 74  process_date                     10 non-null     object
dtypes: float64(9), int64(19), object(47)
memory usage: 6.0+ KB

Tables' features: